<nav class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item" *ngFor="let item of menuItems" [class.has-submenu]="item.submenu">
      <a *ngIf="!item.submenu" [routerLink]="item.path" routerLinkActive="active">
        <span class="icono">{{ item.icono }}</span>
        <span class="label">{{ item.label }}</span>
      </a>
      
      <div *ngIf="item.submenu" class="submenu-header">
        <span class="icono">{{ item.icono }}</span>
        <span class="label">{{ item.label }}</span>
      </div>
      
      <ul *ngIf="item.submenu" class="submenu">
        <li class="submenu-item" *ngFor="let sub of item.submenu">
          <a [routerLink]="sub.path" routerLinkActive="active">{{ sub.label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>